@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@layer components {
  body {
    margin: 0;
    font-family: "poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  div,
  button {
    transition-duration: 0.2s;
  }

  #noAnimation {
    transition: none !important;
    transition-duration: 0s;
  }

  /* -moz-appearance: checkbox !important;
      -ms-appearance: checkbox !important;
      -o-appearance */

  #invisibleScrollBar::-webkit-scrollbar {
    /* scrollbar-width: none; */
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  /* for firefox scroll bar hided */
  #invisibleScrollBar {
    scrollbar-width: none;
  }

  #invisibleHScrollBar::-webkit-scrollbar {
    height: 0px; /* height of horizontal scrollbar â† You're missing this */
    width: 0px; /* width of vertical scrollbar */
    background: transparent; /* make scrollbar transparent */
  }

  /* #invisibleScrollBar::-moz-scrollbar {
    display: none;
  } */

  #noDrag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #hjournal-scroll::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #f6cc82;
    width: 8px;
    height: 6px;
    margin-right: 10px;
    cursor: pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
  }
  #hjournal-scroll::-webkit-scrollbar-track {
    background-color: #f6cc82;
    cursor: pointer;
    margin-right: 3px;
    width: 6px;

    border-radius: 10px;
    /*background: red;*/
  }
  #hjournal-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #f6cc82;
    /* border-radius: 10px; */
    /* width: 4px; */
    border: 3px solid;
    border-radius: 9px;
    background-clip: content-box;
    /*outline: 1px solid slategrey;*/
  }

  /* width */
  #tiny-journal-scroll::-webkit-scrollbar {
    border-radius: 5px;

    width: 5px;
    margin-right: 5px;
    cursor: pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
  }

  /* Track */
  #tiny-journal-scroll::-webkit-scrollbar-track {
    background-color: #faf4ee;
    cursor: pointer;
    margin-right: 1.5px;
    width: 3px;

    /* border-radius: 10px; */
    /*background: red;*/
  }

  /* Handle */
  #tiny-journal-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #f6cc82;

    /* bigger border -> thin scrollbar */
    border: 1px solid transparent;
    border-radius: 7.5px;
    background-clip: content-box;
    /*outline: 1px solid slategrey;*/
  }

  /* width */
  #journal-scroll::-webkit-scrollbar {
    border-radius: 10px;

    width: 10px;
    margin-right: 10px;
    cursor: pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
  }

  /* Track */
  #journal-scroll::-webkit-scrollbar-track {
    background-color: #faf4ee;
    cursor: pointer;
    margin-right: 3px;
    width: 6px;

    /* border-radius: 10px; */
    /*background: red;*/
  }

  /* Handle */
  #journal-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #f6cc82;

    /* bigger border -> thin scrollbar */
    border: 4px solid transparent;
    border-radius: 15px;
    background-clip: content-box;
    /*outline: 1px solid slategrey;*/
  }

  /* width */
  #journal-scroll2::-webkit-scrollbar {
    border-radius: 10px;
    width: 20px;
  }

  /* Track */
  #journal-scroll2::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #dddddd;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-left: 9px solid white;
    border-right: 9px solid white;
  }

  /* Handle */
  #journal-scroll2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #9e9e9e;
    border-radius: 10px;
    border-left: 5px solid white;
    border-right: 5px solid white;
  }

  .link-style {
    @apply px-2 py-2 hover:bg-breeze;
  }

  .main-section-header-style {
    @apply flex justify-between  py-3 md:py-5;
  }

  .form-input-style {
    @apply border border-gray-400 w-full py-2 pl-2 rounded-lg placeholder:font-assistant placeholder:text-[#B5B5B6] my-2;
  }
  .form-error-message {
    @apply text-sm text-red-400;
  }

  /* ----------------------------------------------------- */
  /* --                                                 -- */
  /* --                  Border animation               -- */
  /* --                                                 -- */
  /* ----------------------------------------------------- */
  #gradient-border {
    --borderWidth: 3px;
    background: #1d1f20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  #gradient-border:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #eb6c17, #ffffff, #fac011);
    z-index: -1;
    animation: animatedgradient 2s alternate infinite;
    background-size: 300% 300%;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    20% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    80% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  #YellowBG-fancyBorder {
    --border-size: 2px;
    --border-angle: 0turn;
    border-radius: 3px;
    background-image: conic-gradient(
        from var(--border-angle),
        rgb(251, 244, 233),
        rgb(251, 244, 233) 50%,
        rgb(251, 244, 233)
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        #fbf7ebb1,
        rgb(251, 207, 137)
      );
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 8s linear infinite;
  }

  #fancyBorder {
    --border-size: 2px;
    --border-angle: 0turn;
    background-image: conic-gradient(
        from var(--border-angle),
        rgb(255, 255, 255),
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255)
      ),
      conic-gradient(
        from var(--border-angle),
        transparent 20%,
        #f2be2fb1,
        #ff8800e7
      );
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  #fancyBorder:hover {
    /* animation-play-state: paused; */
  }
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

  /* Main Light Yellow */
  #hover-underline-animation-light {
    display: inline-block;
    position: relative;
  }

  #hover-underline-animation-light::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    border-radius: 20px;
    left: 0;
    background-color: #fff6e6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #hover-underline-animation-light:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* Main mid-Light Yellow */
  #hover-underline-animation-mid-light {
    display: inline-block;
    position: relative;
  }

  #hover-underline-animation-mid-light::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    border-radius: 20px;
    left: 0;
    background-color: #fbd187;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #hover-underline-animation-mid-light:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* Main Yellow */
  #hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  #hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    border-radius: 20px;
    left: 0;
    background-color: #fb9f04;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* Main Black */

  #hover-underline-animation-black {
    display: inline-block;
    position: relative;
  }

  #hover-underline-animation-black::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    border-radius: 20px;
    left: 0;
    background-color: rgb(112, 112, 112);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #hover-underline-animation-black:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* slider */
  /* 
  #gd-carousel {
    position: unset;

    .react-multiple-carousel__arrow {
      position: absolute;
    }

    .react-multiple-carousel__arrow--left {
      left: 0px;
    }

    .react-multiple-carousel__arrow--right {
      right: calc(-3% + 1px);
    }
  } */

  /* 
  //slider css
  .gd-carousel {
    position: unset;

    .react-multiple-carousel__arrow {
      position: absolute;
    }

    .react-multiple-carousel__arrow--left {
      left: 4px;
      width: 20px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .react-multiple-carousel__arrow--right {
      right: 4px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .react-multiple-carousel__arrow {
      min-width: 20px;
      min-height: 20px;
    }
  } */

  @page {
    margin: 5mm 0mm 5mm 0mm;
    /* size: A4; */

    /* width: 210mm;
    height: 297mm; */
  }
  @media print {
    * {
      overflow: visible !important;
    }
    .page {
      page-break-after: always;
    }
    body {
      zoom: 40%;
      /* -moz-transform: scale(0.4);
      -moz-transform-origin: 0 0; */

      page-break-after: avoid !important;
      page-break-before: avoid !important;
    }

    #scrollableDiv {
      width: 100%;
      height: 100% !important;
      overflow: visible;
    }
  }

  /* @media print {
    * {
      overflow: visible !important;
    }
    .page {
      page-break-after: always;
    }
    body {
      zoom: 100%;
      page-break-after: avoid !important;
      page-break-before: avoid !important;
    }

    #scrollableDiv {
      width: 100%;
      height: 100% !important;
      overflow: visible;
    }

    @page {
      margin: 5mm 0mm 5mm 0mm;

      size: A4;
      width: 210mm;
      height: 297mm;
    }
  } */
}
